/*
 Theme Name:   ajdm enfant
 Theme URI:    http://toto.ca
 Description:  Theme enfant AJDM
 Author:       Julien Labonté
 Author URI:   http://julien.com
 Template:     ajdm
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  ajdm-enfant
*/

/*
Table des matières

# Entete
	## 






*/

@import url("menu.css");
@import url("footer.css");
@import url("stage_liste.css");
@import url("stage_indiv.css");


/* --------------------------------
# Entete
-----------------------------------
*/

#masthead {
	display: flex;
	flex-direction: column;
	background-color: #e8eaed;
	text-align: center;
}

.site-branding a {
	color: #53668C;
}

@media screen and (min-width: 600px){
	#masthead {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}

	.site-branding{
		padding-left: 20px;
	}

}



/* --------------------------------
# Body
-----------------------------------
*/

#content {
	background-color: white;
}

#primary, #secondary {
		padding: 20px;
	}

#colophon{
	background-color: #e8eaed;
	height: 100px;
}

@media screen and (min-width: 600px){
	#content {
		display: flex;
		flex-direction: column;
		background-color: #AAB4C8;
		align-items: center;
	}

	#primary {
		width: 80%;
		background-color: white;
	}

	#secondary {
		width: 80%;
		background-color: white;
	}
}
















secondary